/* USER */

@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/CrimsonText-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/CrimsonText-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Text';
    font-weight: bold;
    font-style: italic;
    src: url('../../fonts/CrimsonText-BoldItalic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Text';
    font-weight: normal;
    font-style: italic;
    src: url('../../fonts/CrimsonText-Italic.ttf') format('truetype');
    font-display: swap;
}

html {
    font-family: 'Crimson Text', serif;
}

body {
    font-size: 1.8rem;
}

.content p {
    line-height: 1.6em;
}

.sidebar {
    font-size: 1em;
}

h1 {
    letter-spacing: -1px;
}

h2, h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-weight: normal;
    font-style: italic;
}

p {
    margin-block-start: 0;
}


body {
    counter-reset: tabl;
}

div.ottab {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

div.ottab::before {
    counter-increment: tabl;
    content: "("counter(tabl)")";
}

.ottab table {
    margin-left: 4rem;
    width: auto;
}

.ottab table thead th {
    font-weight: normal;
    border-bottom-style: double;
}
.ottab table td, th {
    border: 1px black solid;
    padding: 0.5rem 1rem !important;
    background-color: var(--bg);
}
.ottab table tbody {
    counter-reset: cand;
}

.ottab table td:nth-child(n+3) {
    text-align: center;
}

  

.vt table th:nth-child(1) {
    border-right: none !important;
}
.vt table th:nth-child(2) {
    border-left: none !important;
}
.vt table td:nth-child(1) {
    border-right: none !important;
    /* font-family: 'Segoe UI Symbol';
    font-size: 120%; */
    padding-left: auto;
    padding-right: 0 !important;
}
.vt table td:nth-child(2) {
    border-left: none !important;
}
.vt table td:nth-child(1)::before {
    counter-increment: cand;
    content: counter(cand, lower-alpha)". ";
}


.ct table td:nth-child(2) {
    text-align: center;
}
.ct table td:nth-child(1)::before {
    counter-increment: cand;
    content: counter(cand, lower-alpha)". ";
}

.hy table td:nth-child(2) {
    text-align: center;
}
.hy table tr:nth-child(1) td:nth-child(1)::before {
    content: ""
}

.hy table tr:nth-child(n+2) td:nth-child(1)::before {
    counter-increment: cand;
    content: "~ "counter(cand, lower-alpha)". ";
}